#banner {
    /* background: linear-gradient(to right, #C6E7FF, #C6E7FF, #C6E7FF); */
    background-color: #021526;
   padding: 60px 0px;
}

.banner_main img {
    width: 15%;
    margin-top: 10px;
}

.banner_inner_text h4,
.banner_inner_text h2,
.banner_inner_text h3 {
    
    font-family: "Fjalla One", sans-serif;
    color: #FFFF;
}

.banner_inner_text h4 {
    font-size: 40px; /* Use rem for scalability */
    font-weight: 800;
}

.banner_inner_text h2 {
    font-size: 30px; 
    font-weight: 800;
}

.banner_inner_text h3 {
    font-size: 50px; 
    font-weight: 800;
    color: #FFFF;
}

.banner_main {
    font-size: 60px !important; 
    font-weight: 800;
    color: #262626; 
    font-family: "Faculty Glyphic", sans-serif;
    background: linear-gradient(90deg, #87A2FF, #87A2FF, #87A2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner_inner_text p {
    font-size: 1.25rem; 
    font-weight: 500;
    font-family: "Paprika", system-ui;
    color: #FFFF;
    margin-top: 20px;
}

.banner_inner_text button {
    padding: 10px 25px;
    font-size: 1.25rem; 
    font-weight: 800;
    background-color: #5B99C2;
    border-radius: 100px;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
    transition: .5s;
    transform: scale(.9);
    box-shadow: 0px 0px 10px #8CABFF; 
}

.banner_inner_text button:hover {
    background: linear-gradient(to right, #295F98, #667BC6, #BF2EF0);
    transform: scale(1);
}

.banner_img img {
    border-radius: 20px;
    transform: rotate(7deg);
    transition: .3s;
    width: 100%;
}

.banner_img img:hover {
    transform: rotate(0deg);
    box-shadow: 0px 0px 12px #FFFF;
}

.banner_btn {
    display: flex;
}

.banner_icon a {
    margin-left: 30px;
    font-size: 1.875rem; 
    color: #FFFF !important; 
    box-shadow: 0px 0px 6px #5B99C2;
    border-radius: 5px;
}

.banner_icon a:hover {
    background: linear-gradient(to right, #00028C, #00028C, #00028C);
    color: #00028C;
    box-shadow: 0px 0px 12px #FFEEA9;
}

.banner_icon {
    margin-top: 50px;
}

.banner_inner {
    text-align: center;
    box-shadow: 0px 0px 12px #37AFE1;
    padding: 40px 20px;
    margin-top: 60px;
}

.banner_inner:hover {
    background-color: #03346E;
    box-shadow: 0px 0px 12px #FFFF;
    color: #7695FF !important;
}

.banner_inner h2 {
    font-size: 50px; 
    color: #FFFF !important; 
    font-weight: 800;
    border-radius: 10px;
}

.banner_inner h3 {
    font-size: 25px; 
    color: #83b9ff !important; 
    font-weight: 800;
    border-radius: 10px;
}

